[user]
	name = larrylizhao
	email = larrylizhao@gmail.com
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[core]
	editor = nvim
	autocrlf = input
	pager = delta
[merge]
	conflictstyle = zdiff3
[diff]
	algorithm = histogram
	colorMoved = default
[rerere]
	enabled = true
